<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">


    @RenderSection("Styles", false)
    <!-- örneğin bütün sayfalarda olmasını istediğimiz css dosyası sectionda olabilir
    yukarıdaki bootstrap bütün sayfalarda olsun ama belirleyeceğim css istediğim sayfalarda olsun diye section yerini belirledik, contact.cshtml de bu css kullanılsın
    -->

    <title>Document</title>
</head>

<body>
    <header>
    @await Html.PartialAsync("_Navbar")

    @RenderSection("Header", false) 
    <!--- default olarak true gelir ve her sayfaya section koymak zorunlu kılar. Bunun için false olarak işaretlemeliyiz-->
    </header>
    <div class="container mt-3">
        <main>
            @RenderBody()
        </main>
    </div>

     @RenderSection("Scripts", false)
</body>

</html>