<nav class="navbar navbar-expand-sm navbar-dark bg-primary">
    <div class="container">
        <a class="navbar-brand" asp-controller="Home" asp-action="Index">CourseApp</a>
        <ul class="navbar-nav me-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="navbar-item">
                <a class="nav-link" href="/course/list">Kurslar</a>
            </li>
        </ul>
    </div>
</nav>

<!--- 
TAG HELPER

asp-controller="Home" asp-action="Index"
ya da
href="/"
ya da 
href="/home"


asp-controller="Course" asp-action="Lisrt"
ya da
href="/course/list"


-->